main {
  flex: 1;
  min-height: 80vh;

  //https://dev.to/alvaromontoro/the-disappearing-line-a-css-mystery-3e35
  hr.style-one {
    width: 100%;
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      $color-primary,
      rgba(0, 0, 0, 0)
    );
  }

  hr.style-two {
    width: 100%;
    border: 0;
    height: 3px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      $color-primary,
      rgba(0, 0, 0, 0)
    );
  }
}

.bg-opaque {
  background-color: $bg-color-opaque;
  padding: 2rem 3rem 3rem 3rem;
}
