.characters {
  min-height: 30rem;
  &__list {
    list-style: none;
    list-style: none;
    &-item {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include respond(tab-land) {
        max-width: 90%;
      }
      @include respond(desktop) {
        max-width: 80%;
      }

      &-description {
        display: flex;
        justify-content: center;
        align-items: center;
        // &:hover &-name {
        //   letter-spacing: 0.8px;
        //   cursor: pointer;
        // }
        &-name {
          text-align: right;
          padding-right: 2rem;
          font-weight: 700;
          cursor: pointer;
          font-size: 2rem;
          &:hover {
            letter-spacing: 0.8px;
          }
        }
      }

      &-details {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        @include respond(tab-land) {
          width: 90%;
        }
        .character {
          &__details {
            &-name {
              text-align: center;
              h4 {
                font-size: 2rem;
              }
            }
            &-item {
              display: flex;

              &-subtitle {
                flex: 0 50%;
                font-size: 1.5rem;
                font-weight: 600;
                text-align: right;
                padding-right: 2rem;
              }
              &-description {
                flex: 0 50%;
                &-list {
                  list-style: none;
                  display: flex;
                  flex-wrap: wrap;

                  &-item {
                    font-style: italic;
                    &-link,
                    &-active,
                    &-visited {
                      text-decoration: none;
                      color: inherit;
                      &:hover {
                        letter-spacing: 0.4px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &-btn {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
