.container {
  background-color: $bg-color-opaque;
  padding: 3rem;
  &__header {
    text-align: center;
  }
  margin: 0 auto;
  max-width: 90%;
  @include respond(tab-port) {
    max-width: 80%;
  }
  @include respond(tab-land) {
    max-width: 70%;
  }
  @include respond(desktop) {
    max-width: 60%;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  .subtitle {
    font-weight: bold;
    font-style: italic;
    flex: 0 25%;
  }
  .description {
    text-align: justify;
    flex: 0 70%;
  }
}

.list-content {
  display: flex;
  flex-direction: column;
  &-items {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    &-item {
      display: inline-flex;
      padding-right: 0.8rem;
      &-link {
        &,
        &:link,
        &:visited {
          color: inherit;
          text-decoration: none;
          &:hover {
            letter-spacing: 0.1px;
          }
        }
      }
    }
  }
}
