// COLORS
$color-primary: #c0cae0;
$color-primary-light: #b7b3e3;
$color-primary-dark: #0f0c29;

$color-secondary-light: #dfddf6;
$color-secondary-dark: #857dd1;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
