// COLORS
$color-primary: #c0cae0;
$color-primary-light: #b7b3e3;
$color-primary-light-2: #585488;
$color-primary-dark: #0f0c29;
$color-primary-dark-1: #302b63;
$color-secondary-light: #dfddf6;
$color-error: rgb(175, 82, 82);
$color-secondary-dark: #857dd1;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
$bg-color-opaque: rgba(0, 0, 0, 0.4);
